@import-normalize;

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
/*
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
form {
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1em;
    font-weight: normal;
}
ul,
ol {
    list-style: none;
    padding-left: 0;
}
body {
    font: 14px "微软雅黑", Gill Sans, Arial, sans-serif;
    background-color: #f3f3f7;
}
a {
    text-decoration: none;
    color: inherit;
}
i,
em {
    font-style: normal;
}

.clearfix:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: "";
}
.clearfix {
    zoom: 1;
}
input {
    outline: 0 none !important;
} */
